<app-header titulo="Videojuegos"></app-header>

<ion-content>
<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card>
                <img src="assets/Alets/juegos1.jpg" >
                <ion-card-header>
                    <ion-label >Xbox One</ion-label>
                  <p > Compatible con soporte de alto rango dinámico HDR.
                    Control inalámbrico rediseñado.
                    1TB de capacidad de almacenamiento.
                    HDR resalta la profundidad visual de los juegos.
                    </p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 5,500.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>

            

            <ion-card>
                <img src="assets/Alets/juegos3.jpg" >
                <ion-card-header>
                    <ion-label >Nintendo Swicht</ion-label>
                  <p > Memoria de 32 GB, Versión 1.1
                    Incluye 1 Dock y 2 mandos Joycon
                    </p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 9,950.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>

            <ion-card>
                <img src="assets/Alets/juegos4.jpg" >
                <ion-card-header>
                    <ion-label >Resident Evil 3</ion-label>
                  <p >Resident Evil 3 Remake es, como su nombre indica, una adaptación a los tiempos actuales de la tercera entrega numérica de la saga survival-horror de Capcom.</p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 1,150.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>

                <ion-card>
                    <img src="assets/Alets/juegos5.jpg" >
                    <ion-card-header>
                        <ion-label >Resident Evil 3</ion-label>
                      <p > Resident Evil 3 Remake es, como su nombre indica, una adaptación a los tiempos actuales de la tercera entrega numérica de la saga survival-horror de Capcom.</p>
                    </ion-card-header>
                    <ion-card-content style="text-align: center;">
                        $ 1,150.00
                    </ion-card-content>
                    <ion-button expand="block" fill="clear" shape="round" color="success">
                        Añadir al carro
                    </ion-button>
                </ion-card>
            </ion-card>

            

            
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="assets/Alets/juegos2.png" >
                <ion-card-header>
                    <ion-label >Play Station</ion-label>
                  <p > Este paquete de entretenimiento incluye también un control inalámbrico
                </p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 6,650.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>

            <ion-card>
                <img src="assets/Alets/juegos6.jpg" >
                <ion-card-header>
                    <ion-label >Fifa 2020</ion-label>
                  <p > Con el motor Frostbite disfrutarás tanto de competición profesional y de fútbol callejero más auténtico con la nueva experiencia EA SPORTS VOLTA</p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 1,100.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>

            <ion-card>
                <img src="assets/Alets/juegos7.jpg" >
                <ion-card-header>
                    <ion-label >Producto</ion-label>
                  <p > descripcion</p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 50.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>

            <ion-card>
                <img src="assets/Alets/juegos7.jpg" >
                <ion-card-header>
                    <ion-label >Producto</ion-label>
                  <p > descripcion</p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 50.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
