<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header style="text-align: center;">
      Pedido:
    </ion-list-header>
    <hr>
    <hr>
      <ion-item>
        <p>1 Nintendo swicht $9,500</p>
      </ion-item>
      <ion-item>
        <p>1 Sudadera $500</p>

      </ion-item>
      <ion-item>
        <p>1 Sofa $1,500</p>
      </ion-item>
      <ion-item>
        <p>1 Fifa $1,100</p>
      </ion-item>
        
        <hr>
        <ion-item>
          <p>Total: $12,600‬  </p>
        </ion-item>
        
      
  </ion-list>
</ion-content>
