<app-header titulo="Ropa"></app-header>
<ion-content>
   <ion-grid>
       <ion-row>
           <ion-col>
               <ion-card>
                   <img src="assets/Alets/ropa1.jpg" >
                   <ion-card-header>
                       <ion-label >Sudadera</ion-label>
                     <p > Sudadera básica con estampado de rayas, de manga larga, con cuello redondo y confeccionada en algodón
                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 400.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/ropa2.jpg" >
                   <ion-card-header>
                       <ion-label >pantalon</ion-label>
                     <p > pantalon en tejido flame con cintura elastica y detalle del cordon, con bolsillos, bajo doblado y confeccionado de 100% algodon


                   </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 450.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/ropa3.jpg" >
                   <ion-card-header>
                       <ion-label >Cojin Karoj Enza</ion-label>
                     <p > Vestido en tejido tipo playera, con manga corta, cuello redondo, detalle de bolsillo a la altura del pecho y confeccionado en 100% algodon.

                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 150.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               
   
           </ion-col>

           <ion-col>
            
               <ion-card>
                  <img src="assets/Alets/ropa4.jpg" >
                  <ion-card-header>
                      <ion-label >Sudadera</ion-label>
                    <p >Sudadera básica con estampado de rayas,de manga larga, con cuello redondo y confeccionada en algodón
                  </p>
                  </ion-card-header>
                  <ion-card-content style="text-align: center;">
                    $ 250.00
                  </ion-card-content>
                  <ion-button expand="block" fill="clear" shape="round" color="success">
                      Añadir al carro
                  </ion-button>
              </ion-card>

              <ion-card>
               <img src="assets/Alets/ropa5.jpg" >
               <ion-card-header>
                  
                   <ion-label >camisa                </ion-label>
                 <p > camisa de color negro con estampado del universo en varios tonos, de manga corta,con cuello clásico,cierre mediante botones y confeccionado en viscosa.
               </p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                   $ 150.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/ropa6.jpg" >
               <ion-card-header>
                   <ion-label >Cortina Mazahua
                 </ion-label>
                 <p > sudadera con panel de color rosa con texto en contraste, de manga larga, con capucha ajustable mediante cordón y confeccionado en algodon.
               </p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 400.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/ropa7.jpg" >
               <ion-card-header>
                   <ion-label >Lampara de mesa</ion-label>
                 <p > pantalon chino skinny fit de corte tailored fit, con estampado en contraste, boton y cierre,cintura con trabilla y confeccionado en tela ligeramente elastica.
               </p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 450.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/ropa8.jpg" >
               <ion-card-header>
                   <ion-label >Espejo de pared</ion-label>
                 <p > pantalon en tejido ripstop con detalle de llavero en la cintura con trabillas, con bolsillos laterales de tapeta, cierre mediante zipper y botón, goma en cintura y bajos.
               </p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 50.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>
           </ion-col>

       </ion-row>
   </ion-grid>
</ion-content>

