

<app-header titulo="departamentos">
</app-header>
<ion-segment scrollable mode="md" color="primary">

  <ion-segment-button mode="md" value="opcion" routerLink="/detergentes">
  
  <ion-label class="ion-text-capitalize">Videojuegos</ion-label>

</ion-segment-button>
<ion-segment-button mode="md" value="opcion"routerLink="/secciones-b">
  
  <ion-label class="ion-text-capitalize">Hogar</ion-label>

</ion-segment-button>
<ion-segment-button mode="md" value="opcion"routerLink="/electrodomesticos">
  
  <ion-label class="ion-text-capitalize">Ropa</ion-label>

</ion-segment-button>
<ion-segment-button mode="md" value="opcion"routerLink="/vinos">
  
  <ion-label class="ion-text-capitalize">Muebles</ion-label>

</ion-segment-button>

</ion-segment> 





<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label>Hogar</ion-label>
            <hr>
            <ion-card>
              <img src="assets/Alets/hogar1.jpg" >
              <ion-card-header>
                  <ion-label >Almohada Luna</ion-label>
                <p > Almohada de memory gel triturado con funda de bambú

                  </p>
              </ion-card-header>
              <ion-card-content style="text-align: center;">
                $ 500.00
              </ion-card-content>
              <ion-button expand="block" fill="clear" shape="round" color="success">
                  Añadir al carro
              </ion-button>
          </ion-card>
          <ion-label>Videojuegos</ion-label>
            <hr>
            <ion-card>
              <img src="assets/Alets/juegos4.jpg" >
              <ion-card-header>
                  <ion-label >Resident Evil 3</ion-label>
                <p >Resident Evil 3 Remake es, como su nombre indica, una adaptación a los tiempos actuales de la tercera entrega numérica de la saga survival-horror de Capcom.</p>
              </ion-card-header>
              <ion-card-content style="text-align: center;">
                $ 1,150.00
              </ion-card-content>
              <ion-button expand="block" fill="clear" shape="round" color="success">
                  Añadir al carro
              </ion-button>
            </ion-card>
            
              <ion-card>
                <img src="assets/Alets/juegos3.jpg" >
                <ion-card-header>
                    <ion-label >Nintendo Swicht</ion-label>
                  <p > Memoria de 32 GB, Versión 1.1
                    Incluye 1 Dock y 2 mandos Joycon
                    </p>
                </ion-card-header>
                <ion-card-content style="text-align: center;">
                  $ 9,950.00
                </ion-card-content>
                <ion-button expand="block" fill="clear" shape="round" color="success">
                    Añadir al carro
                </ion-button>
            </ion-card>
              
  
          </ion-col>

          <ion-col>       
            <ion-label>Muebles</ion-label>
            <hr>
            <ion-card>
              <img src="assets/Alets/mueble5.png" >
              <ion-card-header>
                 
                  <ion-label >Comedor Imanol Bianchi
                 </ion-label>
                <p > recamara contraste chocolate contemporanea</p>
              </ion-card-header>
              <ion-card-content style="text-align: center;">
                  $ 550.00
              </ion-card-content>
              <ion-button expand="block" fill="clear" shape="round" color="success">
                  Añadir al carro
              </ion-button>
          </ion-card>
          <ion-label>Ropa</ion-label>
            <hr>
          <ion-card>
              <img src="assets/Alets/ropa6.jpg" >
              <ion-card-header>
                  <ion-label >Sudadera
                </ion-label>
                <p > sudadera con panel de color rosa con texto en contraste, de manga larga, con capucha ajustable mediante cordón y confeccionado en algodon.
              </p>
              </ion-card-header>
              <ion-card-content style="text-align: center;">
                $ 400.00
              </ion-card-content>
              <ion-button expand="block" fill="clear" shape="round" color="success">
                  Añadir al carro
              </ion-button>
          </ion-card>

          </ion-col>

      </ion-row>
  </ion-grid>
</ion-content>


