<app-header titulo="Hogar"></app-header>
<ion-content>
   <ion-grid>
       <ion-row>
           <ion-col>
               <ion-card>
                   <img src="assets/Alets/hogar1.jpg" >
                   <ion-card-header>
                       <ion-label >Almohada Luna</ion-label>
                     <p > Almohada de memory gel triturado con funda de bambú

                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 500.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/hogar2.png" >
                   <ion-card-header>
                       <ion-label >Set de edredón Karoj Navy</ion-label>
                     <p > Individual: 1 edredón, 1 funda decorativa. Matrimonial-queen size, king size: 1 edredón, 2 fundas decorativas

                   </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 650.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/hogar3.png" >
                   <ion-card-header>
                       <ion-label >Cojin Karoj Enza</ion-label>
                     <p > Memoria de 32 GB, Versión 1.1
                       Incluye 1 Dock y 2 mandos Joycon
                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 9,950.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               
   
           </ion-col>

           <ion-col>
            
               <ion-card>
                  <img src="assets/Alets/hogar4.png" >
                  <ion-card-header>
                      <ion-label >Cortina Karoj Shibu</ion-label>
                    <p >Cortina de tela fina 100% algodon</p>
                  </ion-card-header>
                  <ion-card-content style="text-align: center;">
                    $ 750.00
                  </ion-card-content>
                  <ion-button expand="block" fill="clear" shape="round" color="success">
                      Añadir al carro
                  </ion-button>
              </ion-card>

              <ion-card>
               <img src="assets/Alets/hogar6.png" >
               <ion-card-header>
                  
                   <ion-label >Juego de sabanas infantiles                     </ion-label>
                 <p > Resident Evil 3 Remake es, como su nombre indica, una adaptación a los tiempos actuales de la tercera entrega numérica de la saga survival-horror de Capcom.</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                   $ 1,150.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/hogar6.png" >
               <ion-card-header>
                   <ion-label >Cortina Mazahua
                 </ion-label>
                 <p > Con el motor Frostbite disfrutarás tanto de competición profesional y de fútbol callejero más auténtico con la nueva experiencia EA SPORTS VOLTA</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 1,100.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/hogar7.png" >
               <ion-card-header>
                   <ion-label >Lampara de mesa</ion-label>
                 <p > descripcion</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 50.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/juegos8.jpg" >
               <ion-card-header>
                   <ion-label >Espejo de pared</ion-label>
                 <p > descripcion</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 50.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>
           </ion-col>

       </ion-row>
   </ion-grid>
   
   </ion-content>
