<app-header titulo="Muebles"></app-header>

<ion-content>
   <ion-grid>
       <ion-row>
           <ion-col>
               <ion-card>
                   <img src="assets/Alets/mueble1.png" >
                   <ion-card-header>
                       <ion-label >Sofa</ion-label>
                     <p > El sofá Sofia Lugano Isabella Contemporáneo de tela gris le dará un make over de estilo y máxima contemporaneidad a tu espacio.

                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 500.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/mueble2.png" >
                   <ion-card-header>
                       <ion-label >Sala modular</ion-label>
                     <p > Estilo contemporáneo, combina con todo estilo modernista de vanguardia, producto durable que se adapta a la decoración de moda, para toda persona que busca estilo y diseño


                   </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 650.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               <ion-card>
                   <img src="assets/Alets/mueble3.png" >
                   <ion-card-header>
                       <ion-label >Mesa de Centro</ion-label>
                     <p > Memoria de 32 GB, Versión 1.1
                       Incluye 1 Dock y 2 mandos Joycon
                       </p>
                   </ion-card-header>
                   <ion-card-content style="text-align: center;">
                     $ 9,950.00
                   </ion-card-content>
                   <ion-button expand="block" fill="clear" shape="round" color="success">
                       Añadir al carro
                   </ion-button>
               </ion-card>
   
               
   
           </ion-col>

           <ion-col>
            
               <ion-card>
                  <img src="assets/Alets/mueble4.png" >
                  <ion-card-header>
                      <ion-label >Sofa Lottus Bora</ion-label>
                    <p >Estilo contemporáneo, creado para las nuevas generaciones y espacios modernos
                  </p>
                  </ion-card-header>
                  <ion-card-content style="text-align: center;">
                    $ 750.00
                  </ion-card-content>
                  <ion-button expand="block" fill="clear" shape="round" color="success">
                      Añadir al carro
                  </ion-button>
              </ion-card>

              <ion-card>
               <img src="assets/Alets/mueble5.png" >
               <ion-card-header>
                  
                   <ion-label >Comedor Imanol Bianchi
                  </ion-label>
                 <p > recamara contraste chocolate contemporanea</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                   $ 550.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/mueble6.png" >
               <ion-card-header>
                   <ion-label >Recámara Ebano
                 </ion-label>
                 <p >De 134 cm aproximado por 80 cm aproximado de color negro</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 1,100.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/mueble7.png" >
               <ion-card-header>
                   <ion-label >Escritorio Cilek</ion-label>
                 <p > descripcion</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 50.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>

           <ion-card>
               <img src="assets/Alets/mueble8.png" >
               <ion-card-header>
                   <ion-label >Colchon Restonic Splendid
                  </ion-label>
                 <p > descripcion</p>
               </ion-card-header>
               <ion-card-content style="text-align: center;">
                 $ 50.00
               </ion-card-content>
               <ion-button expand="block" fill="clear" shape="round" color="success">
                   Añadir al carro
               </ion-button>
           </ion-card>
           </ion-col>

       </ion-row>
   </ion-grid>
   
   </ion-content>
