<ion-menu side="start" menuId="primerMenu" contentId="principal">
  <ion-header class="May">
    <ion-toolbar class="May">
      <ion-title class="May">Ayuda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img src="assets/icon/usuario.png" alt="" height="70px" width="70px" style="
    display:block;
    margin:auto;
    ">

    <hr>
    <ion-list>
        <ion-segment-button mode="md" value="opcion" routerLink="/inicio">
          <ion-label class="ion-text-capitalize">secciones</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="opcion"routerLink="/carro">
          <ion-label class="ion-text-capitalize">Carrito</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="opcion" routerLink="/inicio">
          <ion-label class="ion-text-capitalize">Servicio al cliente</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="opcion" routerLink="/politicas">
          <ion-label class="ion-text-capitalize">Terminos y Condiciones</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="opcion" routerLink="/inicio">
          <ion-label class="ion-text-capitalize">Cerrar sesion</ion-label>
        </ion-segment-button>
      
    </ion-list>
  </ion-content>
</ion-menu>